<plugin name='ncs-appointment' version='0.1' grailsVersion='1.3.5 &gt; *'>
  <author>Aaron J. Zirbes</author>
  <authorEmail>ajz@umn.edu</authorEmail>
  <title>Appointment SchedulingDomain Classes Domain Classes</title>
  <description>\
Domain classes necessary for Appointment Scheduling
</description>
  <documentation>http://grails.org/plugin/ncs-appointment</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>edu.umn.ncs.Appointment</resource>
    <resource>edu.umn.ncs.AppointmentDetail</resource>
    <resource>edu.umn.ncs.AppointmentDetailCode</resource>
    <resource>edu.umn.ncs.AppointmentDetailType</resource>
    <resource>edu.umn.ncs.AppointmentLocation</resource>
    <resource>edu.umn.ncs.AppointmentResult</resource>
    <resource>edu.umn.ncs.AppointmentResultCategory</resource>
    <resource>edu.umn.ncs.AppointmentType</resource>
    <resource>edu.umn.ncs.Incentive</resource>
    <resource>edu.umn.ncs.IncentiveType</resource>
  </resources>
  <dependencies>
    <plugin name='ncsTracking' version='0.3 &gt; *' />
    <plugin name='ncsPeople' version='0.1 &gt; *' />
  </dependencies>
  <behavior />
</plugin>